<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
   xmlns="http://java.sun.com/xml/ns/javaee"
   xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
    http://java.sun.com/xml/ns/javaee/web-app_3_1.xsd"
   version="3.1">

   <servlet>
      <servlet-name>HelloServlet</servlet-name>
      <servlet-class>com.bernardomg.example.servlet.HelloServlet
      </servlet-class>
   </servlet>
   <servlet-mapping>
      <servlet-name>HelloServlet</servlet-name>
      <url-pattern>/hello/*</url-pattern>
   </servlet-mapping>

   <servlet>
      <servlet-name>OpenApiServlet</servlet-name>
      <servlet-class>com.bernardomg.example.servlet.OpenApiServlet
      </servlet-class>
   </servlet>
   <servlet-mapping>
      <servlet-name>OpenApiServlet</servlet-name>
      <url-pattern>/api-docs/swagger.json</url-pattern>
   </servlet-mapping>

</web-app>